<html>
  <head>
  </head>
  <body>
    <h3>Log In </h3>
    <form action="/login" method="POST">
        <label for="email"><b>E-mail</b></label>
      <input id="email" type="email" name="email" placeholder="Enter email address here>
      <label for="password"><b>Password:</b></label>
      <input id="password" type="password" name="password" placeholder="Enter password here">
      <input type="submit" value="Submit">
    </form>
    <a href="/urls"> Home</a>
  </body>
</html>